<% if current_user %>
  <h4>Welcome, <%= current_user.first_name %></h4>
  <button><a href="<%= logout_path %>" class="" data-method="delete">Sign Out</a></button>

  <div class="">
    <%= form_for Link.new, url: links_path, method: "post" do |f| %>
      <h4><%= f.label :title %></h4>
      <h4><%= f.text_field :title %></h4>
      <h4><%= f.label :url %></h4>
      <h4><%= f.text_field :url %></h4>
      <%= f.submit "Add Link", class: "btn btn-default btn-font-size" %>
    <% end %>
  </div>

  <div>
    <% current_user.links.each do |link| %>
      <h4><a href="<%= link.url %>"><%= link.title %></h4>
    <% end %>
  </div>
<% else %>
  <button><a href="<%= login_path %>" class="">Log In or Sign Up</a></button>
<% end %>
